:root{
     --main_color: rgb(0,51,102);
    --secondary_color: rgb(173, 216, 230);
}
body{
    margin:0; 
    padding: 0;
    display:flex;
    height: 100vh;
    width:100vw;
    height:100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: var(--main_color);
    align-items: center;
    justify-content: center;
    text-align: center;
}

section {
    margin-top:2vw; 
    background-color: var(--secondary_color);
    color: var(--main_color);
}

h2{
    margin-top:1vw;
}

#nav_bar {
    background-color: var(--secondary_color);
    position: fixed;
    top: 0;
    margin: 0 ;
    width: 100vw;
    height: 17vw; 
    border-radius: 0 0 10vw 10vw;
    border: 1px solid var(--main_color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

#logo{
    margin-left:95vw;
    margin-bottom:8vw;
    display: block;
    position: fixed;
}
#logo div{
    width: 3vw;
    height: 0.3vw;
    margin-top:0.2vw;
    margin-right: 2vw;
    background-color: var(--main_color);
    border-radius: 0.1vw;
    text-align: right;
    cursor: pointer;
}
   
#balance_display {
    height: 15vw;
    width: 15vw;
    margin-top: 20vw;
    color: var(--main_color);
    font-size: 1.7vw;
    position: fixed;
    padding:1vw;
    border: 1px solid var(--main_color);
    background-color: var(--secondary_color);
    border-radius: 50%;
}
#balance_label{
    font-size: 1.5vw;

}
#balance_amount{
    font-size: 2vw;
    margin-top: -2vw;
}

#settings_page {
    width: 25vw;
    height: 20vw;
    padding: 2vw;
    margin-top: 10vw;
    border: 1px solid var(--main_color);
    border-radius: 5vw;
    background-color: var(--secondary_color);
    color: var(--main_color);
    display: none;
    z-index: 1000;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
#settings_page.show {
    display: block;
    transform: translateY(0);
    opacity: 1;
}
#settings_page button{
    display: block;
    width:21vw;
    height:3vw;
    background-color: var(--main_color);
    color: var(--secondary_color);
    border:none;
    border-radius: 0.5vw;
    margin: 3vw 2vw 0 2vw;
}

#update_profile{
    width: 30vw;
    height: 22vw;
    padding: 2vw 4vw ;
    margin-top: 10vw;
    border: 1px solid var(--main_color);
    border-radius: 5vw;
    background-color: var(--secondary_color);
    color: var(--main_color);
    display: none;
    z-index: 1000;
    transition: transform 0.3s ease, opacity 0.3s ease;

}
#update_profile label{
    display: inline-block;
    width: 8vw;
    text-align: left;
    font-size: 1.2vw;
}
#update_profile input{
    width: 20vw;
    color: var(--secondary_color);
}
#update_profile button{
    display: inline-block;
    width:12vw;
    height:3vw;
    background-color: var(--main_color);
    color: var(--secondary_color);
    border:none;
    border-radius: 0.5vw;
    margin: 1vw 0 0 2vw;
}

.form-row {

    display: flex;
    align-items: center;
    margin-bottom: 1vw;
    justify-content: flex-start;
}

#logout_page {
    width: 30vw;
    height: 15vw;
    padding: 2vw;
    margin-top: 12vw;
    border: 1px solid var(--main_color);
    border-radius: 5vw;
    background-color: var(--secondary_color);
    color: var(--main_color);
    display: none;
    z-index: 1500;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
#logout_page label{
    display: block;
    margin-top: 3vw;
    font-size: 1.5vw;
}
#logout_page button{
    display: inline-block;
    width:12vw;
    height:3vw;
    background-color: var(--main_color);
    color: var(--secondary_color);
    border:none;
    border-radius: 0.5vw;
    margin: 3vw 0;
}
    
section table {
    width: 100%;
    border-collapse: collapse;
}
section table th, section table td {
    border: 1px solid var(--secondary_color);
    color: var(--secondary_color);
    padding: 0.416vw;
    background-color: var(--main_color);
    text-align: left;
}


section form input, section form select {
    
    padding: 0.416vw;
    margin-bottom: 1vw;
    border: 1px solid var(--secondary_color);
    border-radius: 4px;
    background-color: var(--main_color);
}

section button {
    padding: 0.52vw 0.78vw;
    background-color: var(--main_color);
    color: var(--secondary_color);
    border-radius: 0.5vw;
    margin: 1vw; 
    cursor: pointer;
    border: none;
}
