:root{
     --main_color: rgb(197, 203, 240);
    --secondary_color: rgb(30, 17, 105);
}
body{
    margin:0; 
    width:100%;
    height:100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--main_color);
    display:flex;
    height: 100vh; 
    align-items: center;
    justify-content: center;
    text-align: center;
}

#nav_bar {
    background-color: var(--secondary_color);
    padding: 2vw;
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    right: 0 ;
    margin-bottom: 2vw;
}

#nav_bar nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav_bar nav ul li {
    display: inline;
    margin-right: 1.04vw;
}
        
#nav_bar nav ul li a {
    color: var(--main_color);
    text-decoration: none;
}
        
section {
    margin-top:2vw; 
    padding: 2vw;
    background-color: var(--secondary_color);
    color: var(--main_color);
    width: 40vw; 
    border-radius:  20%  0 20% 0;
    position: relative;
    text-align: center;
}

#settings_page {
    position: absolute;
    top: 50px; 
    right: 10px; 
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--secondary_color);
    color: var(--main_color);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display: none;
    z-index: 1000;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

#settings_page.show {
    display: block;
    transform: translateY(0);
    opacity: 1;
}
    

section form input, section form select {
    
    padding: 0.416vw;
    margin-bottom: 1vw;
    border: 1px solid var(--secondary_color);
    border-radius: 4px;
    background-color: var(--main_color);
}

section button {
    padding: 0.52vw 0.78vw;
    background-color: var(--main_color);
    color: var(--secondary_color);
    border-radius: 0.5vw;
    margin: 1vw; 
    cursor: pointer;
    border: none;
}

#nav_bar button {
    background-color: var(--secondary_color);
    color: var(--main_color);
    font-size: medium;
    cursor: pointer;
    border: none;
}
    
section table {
    width: 100%;
    border-collapse: collapse;
}

section table th, section table td {
    border: 1px solid var(--secondary_color);
    color: var(--secondary_color);
    padding: 0.416vw;
    background-color: var(--main_color);
    text-align: left;
}

