:root {
    --main_color: rgb(0, 51, 102);
    --secondary_color: rgb(173, 216, 230);
}

body{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: Arial, sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--main_color);
}

section{
    width: 100%;
    height: 100%;
    padding: 20px;
    color: var(--secondary_color);
    display: block;
}

section button {
    padding: 0.52vw 0.78vw;
    background-color: var(--secondary_color);
    color: var(--main_color);
    border-radius: 0.5vw;
    margin: 1vw;
    cursor: pointer;
    border: none;
}

section form input ,section form select {
    padding: 0.416vw;
    margin-bottom: 1vw;
    border: 1px solid var(--secondary_color);
    border-radius: 4px;
    background-color: var(--main_color);
    color: var(--secondary_color);
}


#login_page, #register_page {
    position:absolute;
    top:0;
    left: 32.5vw;
    border: 1px solid var(--main_color);
    border-radius: 5vw;
    background-color: var(--secondary_color);
    color: var(--main_color);
    z-index: 1000;
    width: 35vw;
    height:25vw;
    margin-top: 10vw;
    padding: 2vw;
    z-index:1000;
    display:none;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

#register_page {
    height:35vw;
    margin-top:3vw;
}

#login_page button, #register_page button {
    background-color: var(--main_color);
    color: var(--secondary_color);

}


section i{
    position: absolute;
    top: 2vw;
    right: 2vw;
    font-size: 3vw;
    color: var(--main_color);
    cursor: pointer;
}

#register_page label, #login_page label {
    display: inline-block;
    width: 8vw;
    text-align: left;
    font-size: 1.2vw;
    margin-left:1.2vw;
}

#register_page input , #login_page input {
    width: 18vw;
    color: var(--secondary_color);
}

.form-row {

    display: flex;
    align-items: center;
    margin-bottom: 1vw;
    justify-content: flex-start;
}